* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  background: rgba(180, 227, 187, 0.81);
  height: 100vh; 
}

.slogan {
  position: absolute;
  top: 328px;
  left: 17px;
  width: 536px;
}

.text01 {
  display: flex;
  /* width: 394px; */
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.text02 {
  display: flex;
  /* width: 536px;
  height: 29px; */
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;
}

.text02 p {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.brand {
  /* width: 386px; */
  height: 44px;
  justify-content: center;
  align-items: center;

  color: #000;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text06 {
  display: flex;
  width: 597px;
  padding: 10px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.keyView {
  position: absolute;
  top: 232px;
  left: 553px;

  width: 471px;
  height: 315px;
  flex-shrink: 0;
  background: url(./image/keyView.jpg) lightgray 50% / cover no-repeat;
}

.avator {
  width: 403px;
  height: 523px;
  flex-shrink: 0;
  background: url(./image/avator.jpg) lightgray 50% / cover no-repeat;
}
