body {
  background: var(--Light-Yellow, #fbf8cc);
}

header {
  position: relative;
}

.hamburger {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  margin-block: auto; /*  覆蓋Bootstrap框架預設的reboot.scss樣式*/
}

nav li {
  list-style-type: none;
  margin-right: 1rem; /*使用相對單位增加響應度*/
}
nav li:not(:last-child) {
  list-style-type: none;
  margin-right: 1rem; /*不讓最後一個<li>有右邊距*/
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-text {
  width: 616px;
  height: 430px;
  /* width:50%;
  height:auto; */
  flex-shrink: 0;

  position: absolute;
  top: 288px;
  left: 97px;
  /* position: absolute;
  top:80%;
  left:5%; */
}

.hero-text h1 {
  color: var(--Dark-Blue, #03045e);
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: bolder;
  line-height: 116px; /* 116% */
}

.hero-text p {
  color: var(--Dark-Blue, #03045e);
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.avatar {
  position: absolute;
  top: 174px;
  left: 823px;
  width: 506px;
  height: 509px;
  flex-shrink: 0;
}

.spacer {
  height: 100vh;
}

.absolute-section {
  height: 65rem;
}

.subtitle {
  /* position: absolute;
  top: 979px;
  left: 87px; */
}

.subtitle .text-wrapper {
  color: var(--Too-Light-Yellow, #f7f197);
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: 116px; /* 116% */
}
.subtitle-info {
  /* position: absolute;
  top: 1127px;
  left: 87px; */
  width: 900px;
}
.subtitle-info .text-wrapper {
  width: 900px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-blue);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 44px;
  text-align: justify;
}

.about-list-wrap {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5rem;
}

.about-list {
  /* position: absolute;
  top: 1404px;
  left: 374px; */
  width: 900px;
  height: 132px;
}
.about-list li {
  list-style: none;
  position: relative;
}
.about-list li::before {
  content: "༺";
  position: absolute;
  top: 0;
  left: -2em;
  font-size: 1.5em;
}
.about-list li:not(:last-child) {
  margin-bottom: 2.9em; /* 調整下邊的間距 */
}

.about-list .year {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 40px;
}
.about-list p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;

  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-blue);
  font-size: 24px;
  letter-spacing: 0;
  text-align: justify;
}

br {
  line-height: 2rem;
}

.grid-section {
  padding: 1rem;
  margin-bottom: 8rem;
}

.grid-subtitle {
  display: flex;
}

.grid-subtitle .text-wrapper {
  color: var(--Too-Light-Yellow, #f7f197);
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: 116px; /* 116% */
}

.subtitle-wrap {
  margin-bottom: 3rem;
}

.grid-subtitle-info .text-wrapper {
  width: 900px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-blue);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 44px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #fcf8d4d6;
}

.thumbnail {
  height: 65%;
}

.thumbnail figure {
  width: 100%;
  height: 0; /* 讓長寬相等：因為父元素高度是0，設定高度為 0 */
  padding-bottom: 100%; /* 讓長寬相等：padding-bottom的%是參考寬度 */
  overflow: hidden;
  position: relative;
  /* 讓figcaption的margin-top作用 */
  display: flex;
  flex-direction: column;
}

.thumbnail img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: -10.5%;
  left: 0;
}

figcaption {
  color: #03045e;
  font-size: 15px;
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
  padding-inline: 1rem;

  position: absolute;
  /* margin-top: auto;figcaption 將會停在 .thumbnail 的下緣。 */
  bottom: 10%;
}

.card h3 {
  color: #03045e;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding-inline: 1rem;
}

.card p {
  color: #03045e;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
  padding-inline: 1rem;
}

.card a {
  text-decoration: underline;
  cursor: pointer;
}

.card a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
}

.contact-image {
  width: 100%;
  height: auto;
  background: linear-gradient(0deg, #f5ee84 0%, #f5ee84 100%);
}

.contact-info {
  padding-left: 3rem;
}

.contact-info-wrap .contact-info {
  color: #03045e;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
  margin-bottom: 0.7rem;
}

.contact-info a:hover {
  font-style: italic;
  text-decoration: underline;
}

#topButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* 預設隱藏按鈕 */

  height: 50px;
  width: 50px;
  background-color: #f5ee84;
  color: #03045e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* .footer-content .socials {
  list-style-type: none;
  padding: 0;
} */

/* .footer-content .socials li a {
  color: #fff;
  text-decoration: none;
} */

/* 動畫效果 */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.visible {
  opacity: 1;
}

/* 向左滑入效果 */
.slide-in {
  transform: translateX(20%);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.slide-in.visible {
  transform: translateX(0);
  opacity: 1;
}

/* 向上滑入效果 */
.slide-up {
  transform: translateY(80%);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.slide-up.visible {
  transform: translateY(0);
  opacity: 1;
}

/* 向右滑入效果 */
.slide-in-right {
  transform: translateX(-50%);
  /* opacity: 0; */
  transition: transform 1s ease-out;
}

.slide-in-right.visible {
  transform: translateX(0);
  /* opacity: 1; */
}

@media (max-width: 767px) {
  /* 手機樣式 */
  /* nav {
    display: none;
  }

  .hamburger {
    display: block;
  } */

}

