body {
  background: var(--Light-Yellow, #fbf8cc);
}

header {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  margin-block: auto; /*  覆蓋Bootstrap框架預設的reboot.scss樣式*/
}

nav li {
  list-style-type: none;
  margin-right: 1rem; /*使用相對單位增加響應度*/
}
nav li:not(:last-child) {
  list-style-type: none;
  margin-right: 1rem; /*不讓最後一個<li>有右邊距*/
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-text {
  width: 616px;
  height: 430px;
  /* width:50%;
  height:auto; */
  flex-shrink: 0;

  position: absolute;
  top: 288px;
  left: 97px;
  /* position: absolute;
  top:80%;
  left:5%; */
}

.hero-text h1 {
  color: var(--Dark-Blue, #03045e);
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: bolder;
  line-height: 116px; /* 116% */
}

.hero-text p {
  color: var(--Dark-Blue, #03045e);
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.image {
  position: absolute;
  top: 174px;
  left: 823px;
  width: 506px;
  height: 509px;
  flex-shrink: 0;
}

.spacer {
  height: 100vh;
}

.absolute-section {
  height: 170vh;
}

.subtitle {
  /* position: absolute;
  top: 979px;
  left: 87px; */
}

.subtitle .text-wrapper {
  color: var(--Too-Light-Yellow, #f7f197);
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: 116px; /* 116% */
}
.subtitle-info {
  /* position: absolute;
  top: 1127px;
  left: 87px; */
  width: 900px;
}
.subtitle-info .text-wrapper {
  width: 900px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-blue);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 44px;
  text-align: justify;
}

.about-list-wrap {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5rem;
}

.about-list {
  /* position: absolute;
  top: 1404px;
  left: 374px; */
  width: 900px;
  height: 132px;
}
.about-list li {
  list-style: none;
  position: relative;
}
.about-list li::before {
  content: "༺";
  position: absolute;
  top: 0;
  left: -2em;
  font-size: 1.5em;
}
.about-list li:not(:last-child) {
  margin-bottom: 2.9em; /* 調整下邊的間距 */
}

.about-list .year {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 40px;
}
.about-list p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;

  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-blue);
  font-size: 24px;
  letter-spacing: 0;
  text-align: justify;
}

br {
  line-height: 2rem;
}

.grid-section {
  padding: 1rem;
  margin-bottom: 8rem;
}

.grid-subtitle {
  display: flex;
}

.grid-subtitle .text-wrapper {
  color: var(--Too-Light-Yellow, #f7f197);
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: 116px; /* 116% */
}

.subtitle-wrap {
  margin-bottom: 3rem;
}

.grid-subtitle-info .text-wrapper {
  width: 900px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-blue);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 44px;
}

.cards {
  /* display: flex; */
}

.thumbnail img {
  border-radius: 5px;
}

figcaption {
  color: #03045e;
  font-size: 15px;
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
  padding-inline: 1rem;
}

.card h3 {
  color: #03045e;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding-inline: 1rem;
}

.card p {
  color: #03045e;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
  padding-inline: 1rem;
}

.contact-img {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #f5ee84 0%, #f5ee84 100%);
}

.contact-info {
  padding-left: 3rem;
}

.contact-info-wrap .contact-info {
  color: #03045e;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
  margin-bottom: 0.7rem;
}

.contact-info a:hover {
  font-style: italic;
  text-decoration: underline;
}
