header {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  margin-block: auto; /*  覆蓋Bootstrap框架預設的reboot.scss樣式*/
}

nav li {
  list-style-type: none;
  margin-right: 1rem; /*使用相對單位增加響應度*/
}
nav li:not(:last-child) {
  list-style-type: none;
  margin-right: 1rem; /*不讓最後一個<li>有右邊距*/
}

nav a {
  text-decoration: none;
  color: inherit;
}

.hero-text {
  width: 616px;
  height: 430px;
  /* width:50%;
  height:auto; */
  flex-shrink: 0;

  position: absolute;
  top:288px;
  left:97px;
  /* position: absolute;
  top:80%;
  left:5%; */
}

.hero-text h1 {
  color: var(--Dark-Blue, #03045e);
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: bolder;
  line-height: 116px; /* 116% */
}

.hero-text p {
  color: var(--Dark-Blue, #03045e);
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
